* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Text sizes */
h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

p {
    font-size: 15px;
}

/* Default list display */
ul li {
    display: inline;
    list-style: none;
}